<div class="main-body">
  <div class="container-fluid" style="margin-top: 30px;">
    <div class="row no-pad">

      <div class="col-md-2">
        <h5>Tags:</h5>
        <div id="tags">
        </div>
        <div id="tag-edit-div">
        </div>

        </br>
        <%= form_for(@tag) do |f| %>
          <fieldset class="form-group">
            <div class="field">
              <%= f.label :name, "New tag:" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="actions">
              <%= f.submit class: "btn btn-primary btn-sm" %>
            </div>
          </fieldset>
        <% end %>

      </div>

      <div class="col-md-10">
        <div class="card-columns" id="notes">

          <div class="card card-block">
            <%= form_for(@note) do |f| %>
              <h4>New note:</h4>
              <fieldset class="form-group">
                <div class="field">
                  <%= f.label :title, "Title (Optional)" %>
                  <%= f.text_field :title, class: "form-control" %>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="field">
                  <%= f.label :content %>
                  <%= f.text_area :content, class: "form-control", rows: 5 %>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="actions">
                  <%= f.submit class: "btn btn-primary btn-sm" %>
                </div>
              </fieldset>
            <% end %>
          </div>

        </div>
      </div>

    </div>

    <div class="row no-pad">
      <div class="col-md-4"></div>
      <div class="col-md-2" id="paginate-previous"></div>
      <div class="col-md-2" id="paginate-next"></div>
      <div class="col-md-4"></div>
    </div>

  </div>
</div>
