<nav class="navbar navbar-light bg-faded">
  <%= link_to "Post-it", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
    <% else %>
      <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
    <% end %>
  </ul>
</nav>
