<!DOCTYPE html>
<html>
<head>
  <title>PostIt</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

  <%= render "layouts/header" %>
  <div class="container-fluid">
    <div id="messages">
      <%= content_tag(:div, flash[:error], :id => "flash_error", class: "alert alert-danger", role: "alert") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice", class: "alert alert-info", role: "alert") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert", class: "alert alert-warning", role: "alert") if flash[:alert] %>
    </div>

    <%= yield %>

  </div>

  <%= render "layouts/footer" %>
</body>
</html>
